<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                {% assign work = cv.work | sort: 'startDate' | reverse %}
                {% for w in work %}

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ w.position }}</h3>
                            <div class="time">{{ w.startDate | date: '%Y'  }} - {{w.endDate | date: '%Y' | default: ' Now'}}  
                            </div>
                        </div><!--//upper-row-->
                        <div class="company">
                        {% if w.website and w.website != ""%}
                        <a href="{{ w.website }}">{{ w.company }}</a>
                        {% else %} 
                        {{ w.company }}
                        {% endif %}
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>{{ w.summary }}</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                {% endfor %}
</section><!--//section-->