<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are some side projects or open source projectes I was or am invovled in.</p>
                </div><!--//intro-->
                {% assign projects = cv.projects | sort: 'startDate' | reverse %}
                {% for p in projects %}
                <div class="item">
                    <span class="project-title"><a href="{{ p.url | default: '#' }}">{{ p.name}}</a></span> - <span class="project-tagline">{{ p.summary }}</span>
                    
                </div><!--//item-->
                {% endfor %}
</section><!--//section-->
