<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             
                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{% if cv.basics.avatar %}{{ cv.basics.avatar }}
                {% else %} {{site.baseurl}}/assets/images/{{ site.pic }}    
                {% endif %}" alt="profile picture" />
                <h1 class="name">{{ cv.basics.name | default: site.name }}</h1>
                <h3 class="tagline">{{ cv.basics.label | default: site.tagline }}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                    <li class="email"><i class="fa fa-envelope"></i>
                    <a href="mailto: {{ cv.basics.email | default: site.email}}">{{cv.basics.email | default: site.email}}</a>
                    </li>
                    
                    
                    {% if cv.basics.phone and cv.basics.phone != "" %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{cv.basics.phone}}">{{cv.basics.phone}}</a></li>
                    {% endif %}
                    
                    {% if site.website %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://{{cv.basics.website | default: site.website}}" target="_blank">{{cv.basics.website | default: site.website}}</a></li>
                    {% endif %}
                    
                    {% for p in cv.basics.profiles %}
                    {% if p %}
                    <li class="{{p.network}}"><i class="fa fa-{{p.network}}"></i><a href="{{p.url|default:'#'}}" target="_blank">{{p.username}}</a></li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
        
            
        </div><!--//sidebar-wrapper-->
